.register {
  width: 550px;
  height: 450px;
  background: black;
  color: #FFCE00;
  border: 2px solid #FFCE00;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  margin-top: 6rem;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  transform: translateX(70px);
}

.register > input {
  border-radius: 8px;
  border: 2px solid #FFCE00;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.register > .button {
  background: #FFCE00;
  border: none;
  color: #fff;
  width: 7rem;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.registerContainer {
  position: relative;
    /* background: linear-gradient(to right, #00416a, #e4e5e6); */
    background: rgb(229, 231, 235);
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    border-bottom: 2px solid #FFCE00; 
}

.button::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 8px;

    transition: all 0.8s;
  }
  .button:hover::before {
    transform: scaleX(1);
  }
  .button:hover {
    border: solid 3px linear-gradient(to right, #00416a, #e4e5e6);
    color: black;
  }